<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wl_softpos_sdk">

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false"
       >
        <activity
            android:name=".view.collect.taptocard.TapToCardActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.collect.send_link.SendPaymentLinkActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.collect.qr_scan.ScanQRCodeActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.collect.cash.CollectCashActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.collect.menu.CollectMenuActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.collect.transactionStatus.TransactionStatusActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
    </application>

</manifest>